{% extends 'layouts/base.html' %}


{% block body %}
<div class="container">
    <p>
    <a href="{% url 'invoice_create' %}" class="btn btn-outline-primary">Crear Factura</a>
    </p>
<table class="table table-condensed">
    <thead>
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Monto Total</th>
            <th>Fecha</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for invoice in object_list %}
        <tr>
            <td>{{ invoice.id }}</td>
            <td>{{ invoice.customer_name }}</td>
            <td>{{ invoice.get_total }}</td>
            <td>{{ invoice.published }}</td>
            <td><span class="badge badge-success">{{ invoice.status }}</span></td>
            <td>
                <a href="{% url 'invoice_update' invoice.pk %}" class="btn btn-sm btn-secondary">Editar</a>
                <a href="{% url 'invoice_delete' invoice.pk %}" class="btn btn-sm btn-danger">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}
