@import "partials/variables";
@import "~bootstrap/scss/bootstrap";

body > nav {
    margin-bottom: 1rem;
}

div.paper { 
    box-shadow: 0 .25rem 20px rgba(0,0,0, 0.5);
    border-radius: .15rem;
    padding: 1rem;
}

span.editable {
    cursor: pointer;
    
}