{% extends 'registration/base.html' %}

{% load widget_tweaks %}

{% block content %}
{% include 'forms/form.html' with action="Registro" %}
{% endblock %}

{% block side %}
<h2>Registrarse</h2>
<p>Gracias por todo, te quiero.</p>
{% endblock %}
